.baba{
    position: fixed;
    top:10px;
    left: 255px;
    width: 1100px;
    
}
.dot100 {
    height: 40px;
    width: 40px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
   margin: -4px;
   position: fixed;
   top: 20;
   left: 300;
  }
  .namex{
    position: fixed;
    top: 25;
    left: 350;
  }
  #chat{
      color: white;
      position: fixed;
      top: 25;
      left: 750;
  }
  #ibare{
    color: white;
    position: fixed;
    top: 25;
    left: 1250;
}
.line{
    background-color: white !important;
    position: fixed;
   top:50px;
   right: 30px;
   width: 1040px;
   
  }
  .chatline{
    color: #0984e3;
      position: fixed;
      top: 31;
      left: 735;
     font-size: 30px;
     font-weight: 50px !important;
  }
  #messange{
      position: absolute;
      left: 300px;
      top:570;
      width:1000;

  }
  .wfi{
    position:absolute;
    left:300px;
    top:580;
    color:#06090a;
    visibility: hidden;
  }
  #caca{
      position: absolute;
      top:565;
      left: 1301;
  }
  .username{
    position: absolute;
    top:80;
    left: 710;
    width: 140;
    color: white;
  }
  .container{
    position: relative;
    top:50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50);
}
.img-one{
   position: relative;
   top: 0;
   left: 0;
}
.img-one,.img-two,.img-three{
   position: absolute;
   top: 250;
   left:650;
   color: #2d3436;
   background-color:#0984e3;
   width: 50px;
   height: 30px;
   align-content: center;
}
.img-one{
   animation: Slideright 3s infinite;animation-delay:3s;
}
.img-two{
   animation: Slideleft 3s infinite;animation-delay:3s;
}
.img-three{
   animation: Sliderights 3s infinite;animation-delay:3s;
}
@keyframes Slideright{
   to {transform: translateX(180px);}
}
@keyframes Slideleft{
   to {transform: translateY(170px);}
}
@keyframes Sliderights{
   to {transform: translateX(-180px);}
}
.middle{
   position: absolute;
   top:120;
   left: 310;
   width:100%;
   color: white;
}
#bodyer{
   background-color: #0984e3;
   position: relative !important;
   margin: 30px;
   padding: 25px;
   width: 200px;
   border-radius: 20px;
}