#cent{
   
    position: absolute;
    left: 30px;
    top:70px
}
#image2p{
    color: white;
    position: absolute;
    left: 940;
    top: 90;
    background-color: #2d3436;
    width: 300px;
    height: 230px;
    border-radius:8px;
}
#image3p{
    color: white;
    position: absolute;
    left: 940;
    top:350;
    background-color: #2d3436;
    width: 300px;
    height: 230px;
    border-radius:8px;
}
#Overviews150{
    position: absolute;
    background-color: #2d3436 !important;
    left: 20px;
    top: 70px;
    width:200px ;
    height: 40px;
    color:white;
}
#Overviews300{
    position: absolute;
    background-color: #0984e3;
    left: 20px;
    top: 170px;
    width:200px ;
    height: 40px;
    color:white;
}