.left{
  background-color: #2d3436;
  height: 630px;
  width: 240px;
  border-top-right-radius: 3px;
  color:white;
}
#Overviews22{
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: #0984e3 !important;
    width:200px ;
    height: 40px;
    color:white !important;
}
#Overviews1{
    position: absolute;
    left: 20px;
    background-color: #2d3436 !important;
    top: 70px;
    width:200px ;
    height: 40px;
    color:white !important;
}
#Overviews2{
    position: absolute;
    left: 20px;
    top: 120px;
    width:200px ;
    height: 40px;
    color:white;
}
#setting{
    position: absolute;
    left: 30px;
    top: 220px;
    color:  #b2bec3;
}
#hirwa{
    position: absolute;
    left: 1px;
    top: 220px;
}

#Overviews3{
    position: absolute;
    left: 20px;
    top: 170px;
    width:200px ;
    height: 40px;
    color:white;
}
#Overviews4{
    position: absolute;
    left: 20px;
    top: 220px;
    width:200px ;
    height: 40px;
    color:white;
}
h3{
    color: white;
    position: absolute;
    left: 280;
    top: 30;
}
h5{
    color: white;
    background-color: #0984e3;
    border-radius: 15%;
    width: 50px;
    height: 40px;
    position: absolute;
    left: 1280;
    top: 30;
    
}
h6{
    color: white;
    background-color: #0984e3;
    border-radius: 15%;
    width: 50px;
    height: 40px;
    position: absolute;
    left: 40px;
    top:550px;;
    
}
#image{
    color: white;
    position: absolute;
    left: 280;
    top: 90;
    background-color: #2d3436;
    width: 300px;
    height: 230px;
    border-radius:8px;
}
#image1{
    color: white;
    position: absolute;
    left: 610;
    top: 90;
    background-color: #2d3436;
    width: 300px;
    height: 230px;
    border-radius:8px;
}
#image2{
    color: white;
    position: absolute;
    left: 280;
    top: 350;
    background-color: #2d3436;
    width: 300px;
    height: 230px;
    border-radius:8px;
}
#image3{
    color: white;
    position: absolute;
    left: 610;
    top:350;
    background-color: #2d3436;
    width: 300px;
    height: 230px;
    border-radius:8px;
}
#Photography{
    font-size:20px;
    position: absolute;
    left: 30px;
    top:20px
}
#aldo{
    color: white;
    position: absolute;
    left: 940;
    top: 90;
    background-color: #2d3436;
    width: 300px;
    height: 490px;
    border-radius:8px;
}
.dot {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
   margin: -4px;
   position: relative;
   top: 50;
   left: 20;
  }
  .dot1 {
    height: 50px;
    width: 50px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
   margin: -4px;
   position: relative;
   top: 4;
   left: 4;
  }
  #name{
      position: absolute;
      left:70px;
      margin: 7px;
  }
  #down{
    position: absolute;
    left:70px;
    margin: 25px;
    margin-left: 7px;
    color: #d2dae2;
    font-size: 11px;
  }
  #money{
      position: absolute;
      left: 200px;
      margin: 13px;
      color: #0984e3;
  }
  
  h1{
    color: #b2bec3; 
    position: absolute;
  left: 600px;
  top:250px;
  }
 .container{
     position: relative;
     top:50%;
     left: 50%;
     text-align: center;
     transform: translate(-50%,-50);
 }
 .img-one{
    position: relative;
    top: 0;
    left: 0;
}
.img-one,.img-two,.img-three{
    position: absolute;
    top: 250;
    left:650;
    color: #2d3436;
    background-color:#0984e3;
    width: 50px;
    height: 30px;
    align-content: center;
}
.img-one{
    animation: Slideright 3s infinite;animation-delay:3s;
}
.img-two{
    animation: Slideleft 3s infinite;animation-delay:3s;
}
.img-three{
    animation: Sliderights 3s infinite;animation-delay:3s;
}
@keyframes Slideright{
    to {transform: translateX(180px);}
}
@keyframes Slideleft{
    to {transform: translateY(170px);}
}
@keyframes Sliderights{
    to {transform: translateX(-180px);}
}
.Elvis{
    cursor: pointer;
}