body{
    color:white;
}
.table{
  position: absolute;
 top: 80px;
 right: -1070px;
font-size: 17px;
margin: 10px;
border-collapse:none;
}
.thead{
    padding: 200px;
    background-color: #0984e3;
    background: #0984e3 ;
    border: #0984e3;
    border: hidden !important;
}
#color{
    color: white;
    background-color: #2d3436;
    border: hidden !important;
}
table {
    border: hidden !important;  
    width:1000px !important;
  
  }
  .left{
    background-color: #2d3436;
    height: 630px;
    width: 240px;
    border-top-right-radius: 3px;
    color:white;
  }
  #Overviews{
      position: absolute;
      left: 20px;
      top: 20px;
      width:200px ;
      height: 40px;
      color:white !important;
  }
  #Overviews1{
      position: absolute;
      left: 20px;
      background-color: #0984e3;
      top: 70px;
      width:200px ;
      height: 40px;
      color:white !important;
  }
  #Overviews2{
      position: absolute;
      left: 20px;
      top: 120px;
      width:200px ;
      height: 40px;
      color:white;
  }
  #setting{
      position: absolute;
      left: 30px;
      top: 220px;
      color:  #b2bec3;
  }
  #hirwa{
      position: absolute;
      left: 1px;
      top: 220px;
  }
  
  #Overviews3{
      position: absolute;
      left: 20px;
      top: 170px;
      width:200px ;
      height: 40px;
      color:white;
  }
  #Overviews4{
      position: absolute;
      left: 20px;
      top: 220px;
      width:200px ;
      height: 40px;
      color:white;
  }
  h3{
      color: white;
      position: absolute;
      left: 280;
      top: 30;
      width: 100px;
  }
  h5{
      color: white;
      background-color: #0984e3;
      border-radius: 15%;
      width: 50px;
      height: 40px;
      position: absolute;
      left: 1280;
      top: 30;
      
  }