.left{
    background-color: #2d3436;
    height: 630px;
    width: 240px;
    border-top-right-radius: 3px;
    color:white;
  }
  #Overviews{
      position: absolute;
      left: 20px;
      top: 20px;
      background-color: #2d3436 !important;
      width:200px ;
      height: 40px;
      color:white !important;
  }
  #Overviews15{
      position: absolute;
      background-color: #0984e3;
      left: 20px;
      top: 70px;
      width:200px ;
      height: 40px;
      color:white;
  }
  #Overviews2{
      position: absolute;
      left: 20px;
      top: 120px;
      width:200px ;
      height: 40px;
      color:white;
  }
  #setting{
      position: absolute;
      left: 30px;
      top: 220px;
      color:  #b2bec3;
  }
  #hirwa{
      position: absolute;
      left: 1px;
      top: 220px;
  }
  
  #Overviews3{
      position: absolute;
      left: 20px;
      top: 170px;
      width:200px ;
      height: 40px;
      color:white;
  }
  #Overviews4{
      position: absolute;
      left: 20px;
      top: 220px;
      width:200px ;
      height: 40px;
      color:white;
  }
  h3{
      color: white;
      position: absolute;
      left: 280;
      top: 30;
  }
  h5{
      color: white;
      background-color: #0984e3;
      border-radius: 15%;
      width: 50px;
      height: 40px;
      position: absolute;
      left: 1280;
      top: 30;
      
  }
  .dotss {
    height: 170px;
    width: 170px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
   margin: -4px;
   position: relative;
   top: -550;
   left: 700;
   border-style: dotted;
   border-color: #2e4347;
  }
  #addimage{
      font-size: 50px;
  }
#welcome{
    position: absolute;
    top: 270;
    left: 560;
    width: 1000px;
    font-size: 43px;
    color: white;
    
  }
#network{
    position: absolute;
    top: 330;
    left: 750;
    width: 1000px;
  font-size: 19px;
    color: white;
    font-family: 'Segoe UI', Tahoma Verdana, sans-serif;
}
#change{
    position: absolute;
    top: 370;
    left: 570;
    width: 1000px;
  font-size: 19px;
    color: white;
}
#image1234{
    height: 160px;
    width: 160px;
    position: absolute;
    top:80px;
    left: 700px;
    border-radius: 50%;
    display: inline-block;
}
#Uploads{
    position: absolute;
    top:80px;
    left: 851px;
}