#walk12{
    color: #0984e3;  
}
#heat{
    box-shadow: 0 5px 2220px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}
#bodyer1{
    border: hidden !important;  
    background-color: #1e272e;
}
.thead23{
    border-collapse:2% !important;
    background-color:#0984e3 ;
    box-shadow: blue;
    overflow: hidden;
    font-family: Lato-Bold;
}
.mama{
    text-decoration-line: none  !important;
    text-decoration-color:white;
}